@model IEnumerable<YGCGanpati.Models.QuizQuestion>

@{
    ViewBag.Title = "Quiz Question";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
</div>

<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayDate)
        </td>
        <td>
            <a href="@Url.Action("Details", new { id = item.QuestionID })"><i class="fa fa-info-circle"></i></a>
            <a href="@Url.Action("Edit", new { id = item.QuestionID })"><i class="fa fa-edit"></i></a>
            <a href="@Url.Action("Delete", new { id = item.QuestionID })"><i class="fa fa-remove"></i></a>
        </td>

    </tr>
}

</table>
