@model IEnumerable<YGCGanpati.Models.Event>

@{
    ViewBag.Title = "Events";
}

<h2><i class="fa fa-calendar"></i> @ViewBag.Title</h2>

@if (User.IsInRole("Admin") | User.IsInRole("Manager"))
{
    <div class="pull-right">
        &nbsp;  <a href="@Url.Action("Create")"><i class="fa fa-plus-square"></i> Add New</a>
    </div>
}
<table id="tbl" class="table table-sm table-hover table-condensed table-bordered">
   
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            @if (User.IsInRole("Admin") | User.IsInRole("Manager"))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-calendar"></i> <b>@Html.DisplayFor(modelItem => item.EventDate)</b>
                </td>
                <td>
                    @{
                        string[] lines = item.EventName.Split(new string[] { Environment.NewLine }, StringSplitOptions.None);
                        foreach (string m in lines)
                        {
                            <span>@m</span><br />
                        }
                    }
                </td>
                @if (User.IsInRole("Admin") | User.IsInRole("Manager"))
                {
                    <td>
                        <a href="@Url.Action("Details", new { id = item.EventID })"><i class="fa fa-info-circle"></i></a>
                        <a href="@Url.Action("Edit", new { id = item.EventID })"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", new { id = item.EventID })"><i class="fa fa-remove"></i></a>
                    </td>
                }
            </tr>
                        }


</table>
